.channel-list__item {

  flex: 1 1 30%;
  margin: 0 1% 20px 1%;

  @media screen and (max-width: 480px)  {
    flex: 1 1 100%;
    margin-bottom: 20px;
  }


  .channel-list__item-wrapper {
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 10px;
    transition: box-shadow 500ms;
    border-radius: 0.2em;
    max-width: 100%;
    padding-right: 5px;

    &:hover {
      transition: box-shadow 500ms;
      box-shadow: 0 0 20px #E0E0E0;
    }
    &:focus {
      transition: box-shadow 500ms;
      box-shadow: 0 0 20px #E0E0E0;
    }

    .channel-list__item-title {
      vertical-align: middle;
      margin-left: 5px;
    }
  }
}